
<div id="thank-you" class="sameHeight custom-table">
    <div class="custom-cell center">
        <i class="fa fa-lg fa-check" aria-hidden="true"></i>
        <p id="thank-you-headline">{{ headline }}</p>
        <p id="thank-you-subline">{{ subline }}</p>
    </div>
</div>
