

{% form_theme form 'form-overwrite.html.twig' %}


{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
<div class="sameHeight">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
            {{ form_errors(form.name) }}
        </div>
        <div class="col-xs-12 col-sm-6">
            {{ form_label(form.email) }}
            {{ form_widget(form.email) }}
            {{ form_errors(form.email) }}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            {{ form_label(form.subject) }}
            {{ form_widget(form.subject) }}
            {{ form_errors(form.subject) }}

        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            {{ form_label(form.message) }}
            {{ form_widget(form.message) }}
            {{ form_errors(form.message) }}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        {{ form_widget(form.submit) }}
    </div>
</div>
{{ form_end(form,{'render_rest': false}) }}