
{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        {%- for error in errors -%}
            <p class="form-error">{{ error.message | trans }}</p>
        {%- endfor -%}
    {%- endif -%}
{%- endblock form_errors -%}


